
header {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 10px;
    background-color: blueviolet;
    color: whitesmoke;
}

header img{
    width: 100px;
    height: 100px;
    padding: 10px 30px;
}